In [1]:
import pandas as pd
from bs4 import BeautifulSoup
from dateutil.relativedelta import relativedelta
import requests


import warnings;
warnings.simplefilter('ignore')

In [2]:
class ExternalData:
    naming_report_files = {
            "covid": "$country$_CUSTOMER_CATALOG_$year$_$month$.csv",
            "temperature": "$country$_PRODUCT_CATALOG_$year$_$month$.csv",
            "inflation": "$country$_PROMO_HEADER_$year$$month$.csv",
    }

    country_name_mapping = {
            "argentina": "AR",
            "uruguay": "UY",
            "guatemala": "GT",  
            "costarica": "CR",
            "nicaragua": "NI",
            "panama": "PA",
            "colombia": "CO",
            "mexico":"MX"
    }
    
    def __init__(self, fecha:str, country:str, report_type:str):
        self.country = country
        self.report_type = report_type
        self.fecha = pd.to_datetime(fecha, format="%Y%m")
        self.fecha_inicial = self.fecha.replace(day=1).strftime("%Y%m%d")
        self.fecha_final = self.fecha.replace(day=self.fecha.days_in_month).strftime("%Y%m%d")
        self.df_coordenadas = pd.DataFrame([
                            ['argentina', 'ARGENTINA',-34.6579,-58.4392],
                            ['costarica', 'COSTA RICA',9.9417, -84.1184],
                            ['guatemala', 'GUATEMALA',14.6243,-90.5187],
                            ['nicaragua', 'NICARAGUA',12.14,-86.26],
                            ['panama', 'PANAMA',9.0277,-79.4876],
                            ['uruguay', 'URUGUAY',-34.89,-56.18],
                            ['colombia','Cali',3.434, -76.5268],
                            ['colombia','Girardot',4.2968, -74.8053],
                            ['colombia','Villavicencio',4.1331, -73.6226],
                            ['colombia','Valledupar',10.4658, -73.2613],
                            ['colombia','Medellin',6.2769, -75.5977],
                            ['colombia','Bogota Norte',4.690471130761603, -74.05623579201409],
                            ['colombia','Ibague',4.423846317899223, -75.18598098742774],
                            ['colombia','Neiva',2.954316738716088, -75.30002584784135],
                            ['colombia','Cartagena',10.422270311506267, -75.54526131436982],
                            ['colombia','Santa Marta',11.19099019233421, -74.2089124080734],
                            ['colombia','Corozal',9.320342390753085, -75.30488201896188],
                            ['colombia','Bogota Sur',4.60247457965247, -74.16628609526084],
                            ['colombia','Cucuta',7.859971764120941, -72.51305693246773],
                            ['colombia','Bucaramanga',7.09155843319789, -73.12502630363817],
                            ['colombia','Barranquilla',10.956201902276364, -74.78604599506897],
                            ['colombia','Barrancabermeja',7.076652411989663, -73.85590387295004],
                            ['colombia','Duitama',5.818664750516205, -73.02344318466417],
                            ['colombia','Pereira',4.810800178684645, -75.79420800365315],
                            ['colombia','Yopal',5.33418030700621, -72.38657000555652],
                            ['colombia','Monteria',8.749838823094498, -75.89074854595145],
                            ['colombia','San Andres',10.401856375243826, -75.52176296714006],
                            ['colombia','San Gil',6.567241659584618, -73.1490755090324],
                            ['colombia','Aguachica',8.309398818632083, -73.60134590362769],
                            ['colombia','Tunja',5.508357007510656, -73.35815578656472],
                            ['colombia','Argentina',-34.6579, -58.4392],
                            ])
        
        self.df_coordenadas.columns = ['Country','Region','Latitude', 'Longitude']
    
    def temperature(self)-> pd.DataFrame:
        df_temperature_country = self.df_coordenadas[(self.df_coordenadas['Country'] == self.country)]
        df_temperature_final = pd.DataFrame()
        for reg in df_temperature_country['Region'].unique():
            df_temperature_alpha = df_temperature_country[(df_temperature_country['Region'] == reg)]
            latitude_temp = df_temperature_alpha.Latitude.iloc[0]
            longitude_temp = df_temperature_alpha.Longitude.iloc[0]

            url_temperature = f'https://power.larc.nasa.gov/api/temporal/daily/point?parameters=T2M,T2MDEW,T2MWET,TS,T2M_RANGE,T2M_MAX,T2M_MIN,QV2M,RH2M,PRECTOTCORR&community=RE&longitude={longitude_temp}&latitude={latitude_temp}&start={self.fecha_inicial}&end={self.fecha_final}&format=CSV'
            print(reg)
            df_temperature = pd.read_csv(url_temperature, sep=',', skiprows=18)
            if self.country == 'colombia':
                df_temperature['Distribuidora'] = reg
                pos = df_temperature.columns.get_loc("DY") + 1  # Obtener la posición después de "DY"
                new_columns = df_temperature.columns[:pos].tolist() + ["Distribuidora"] + df_temperature.columns[pos:].tolist()
                # Reordenar las columnas
                df_temperature = df_temperature.reindex(columns=new_columns)
            df_temperature_final = pd.concat([df_temperature_final, df_temperature])
        return df_temperature_final
    
    def covid(self)-> pd.DataFrame:
        df_covid = []
        for day in pd.date_range(self.fecha_inicial, self.fecha_final):
            day = pd.to_datetime(day).strftime("%d-%m-%Y")
            if self.country == 'argentina':
                df_covid.append(['AR','Argentina',None,None,None,None,None,None,day,18,44,-7,6,46,4])
            elif self.country == 'costarica':
                df_covid.append(['CR','Costa Rica',None,None,None,None,None,None,day,-1,22,-10,-12,15,8])
            elif self.country == 'guatemala':
                day = pd.to_datetime(day).strftime("%Y-%m-%d")
                df_covid.append(['GT','Guatemala',None,None,None,None,None,None,day,36,43,22,4,29,10])
            elif self.country == 'nicaragua':
                df_covid.append(['NI','Nicaragua',None,None,None,None,None,None,day,40,60,35,24,27,8])
            elif self.country == 'panama':
                df_covid.append(['PA','Panama',None,None,None,None,None,None,day,1,23,-25,8,13,9])
            elif self.country == 'uruguay':
                df_covid.append(['UY','Uruguay',None,None,None,None,None,None,day,-4,20,-22,-11,24,4])
            elif self.country == 'colombia':
                df_covid.append(['CO','Colombia',None,None,None,None,None,None,day,57,57,57,57,57,57])

        df_covid = pd.DataFrame(df_covid)
        df_covid.columns = ['COUNTRY_REGION_CODE','COUNTRY_REGION','SUB_REGION_1','SUB_REGION_2','METRO_AREA','ISO_3166_2_CODE','CENSUS_FIPS_CODE','PLACE_ID','DATE','RETAIL_AND_RECREATION_PERCENT_CHANGE_FROM_BASELINE','GROCERY_AND_PHARMACY_PERCENT_CHANGE_FROM_BASELINE','PARKS_PERCENT_CHANGE_FROM_BASELINE','TRANSIT_STATIONS_PERCENT_CHANGE_FROM_BASELINE','WORKPLACES_PERCENT_CHANGE_FROM_BASELINE','RESIDENTIAL_PERCENT_CHANGE_FROM_BASELINE']
        
        return df_covid
    
    def inflation(self)-> pd.DataFrame:
        week_list = pd.read_csv("CALENDAR.csv")
        week_list['DAY'] = pd.to_datetime(week_list['DAY'])
        week_list['DIA'] = week_list['DAY'].dt.day_name()
        week_list = week_list[(week_list['DIA'] == 'Sunday')]
        week_list['FECHA'] = week_list['YEAR'].astype(str) + week_list['MONTH'].apply(lambda x: f'{x:02d}')
        week_list = week_list[['FECHA','WEEK']]
        week_list = week_list[(week_list['FECHA'] == self.fecha.strftime("%Y%m"))]['WEEK'].tolist()
        df_inflation = pd.DataFrame()

        req_headers = {
            'accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8',
            'accept-encoding': 'gzip, deflate, br',
            'accept-language': 'en-US,en;q=0.8',
            'upgrade-insecure-requests': '1',
            'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/61.0.3163.100 Safari/537.36'
            }
        
        if self.country in ['costarica','panama','guatemala','nicaragua']:
            lista_fechas = [(self.fecha - relativedelta(months = i )).strftime("%Y%#m") for i in range(1, -1, -1)]
            lista_fechas = "-".join(lista_fechas)
            
            url_inflation_ca = f"https://www.secmca.org/chart/?parent=Precios&scid=0&cid=0&scsid=0&son=%C3%8Dndice%20de%20precios%20al%20consumidor&url=1/14/3-50-4-161/39/265/19-258/78-313-314-315/{lista_fechas}-&all_vars=1|IPC%20general*2|IPC%20variaci%C3%B3n%20mensual*3|IPC%20variaci%C3%B3n%20interanual*4|IPC%20variaci%C3%B3n%20acumulada%20con%20diciembre%20anterior"

            r1 = requests.get(url_inflation_ca, headers = req_headers, verify=False)
            r1 = BeautifulSoup(r1.content, 'html')
            r1 = r1.findAll('td')

            alpha = []
            for i in range(len(r1)):
                alpha.append(r1[i].text.strip())
                
            dict_countries = {0:'costarica',
                            1:'guatemala',
                            2:'nicaragua',
                            3:'panama'
                            }

            betha = []
            for n_row in range(int(len(alpha)/17)):
                gamma = alpha[(n_row*17)+1:17*(n_row+1)]
                for n_countries in range(int(len(gamma)/4)):
                    iota = gamma[(n_countries * 4):4 * (n_countries+1)]
                    iota.append(dict_countries[n_countries])
                    betha.append(iota)

            df_betha = pd.DataFrame(betha[4:], columns =  ['IPC general',
                                'IPC variación mensual',
                                'IPC variación interanual',
                                'IPC variación acumulada con diciembre anterior',
                                'Pais'])

            inflacion_col = 'IPC variación interanual' if self.country == 'guatemala' else 'IPC variación mensual'

            for week in week_list:
                epsilon = pd.DataFrame([{
                    'YEAR': self.fecha.strftime("%Y%m")[:4],
                    'WEEK': week,
                    'INFLATION': df_betha[df_betha['Pais'] == self.country][inflacion_col].iloc[0]
                }])
                df_inflation = pd.concat([df_inflation, epsilon], axis=0)
        
        elif self.country == 'argentina':
            fecha_ar = (self.fecha).strftime("%Y%m")
            
            url_inflation = f'https://www.indec.gob.ar/ftp/cuadros/economia/sh_ipc_{fecha_ar[4:]}_{fecha_ar[2:4]}.xls'
            df_inflation_argentina = pd.read_excel(url_inflation, header=None)
            
            for week in week_list:
                epsilon = pd.DataFrame([{
                    'YEAR': self.fecha.strftime("%Y%m")[:4],
                    'WEEK': week,
                    'INFLATION': df_inflation_argentina.loc[df_inflation_argentina[0] == 'Nivel general'].iloc[0, -1]
                }])
                df_inflation = pd.concat([df_inflation, epsilon], axis=0)
        
        elif self.country == 'uruguay':
            url_inflation = f'https://www5.ine.gub.uy/documents/Estad%C3%ADsticasecon%C3%B3micas/SERIES%20Y%20OTROS/IPC/Base%20Octubre%202022=100/IPC%20gral%20y%20variaciones_base%202022.xlsx'
            df_inflation_uruguay = pd.read_excel(url_inflation, header=None)

            fecha = pd.to_datetime("202503", format="%Y%m")
            for _ in range(2):  # Intentar con la fecha original y una vez con el mes anterior
                inflation_row = df_inflation_uruguay[df_inflation_uruguay[0] == fecha]
                if not inflation_row.empty:
                    inflation_uy = inflation_row.iloc[0, 2]
                    break
                fecha -= relativedelta(months=1)
            else:
                inflation_uy = None

            for week in week_list:
                epsilon = pd.DataFrame([{
                    'YEAR': self.fecha.strftime("%Y%m")[:4],
                    'WEEK': week,
                    'INFLATION': inflation_uy
                }])
                df_inflation = pd.concat([df_inflation, epsilon], axis=0)

        elif self.country == 'colombia':
            pass
            
        return df_inflation
    
    def get_external_data(self):
        if self.report_type == "covid":
            return self.covid()
        elif self.report_type == "temperature":
            return self.temperature()
        elif self.report_type == "inflation":
            return self.inflation()

In [5]:
fecha = '202503'
for report_type in ['covid','temperature','inflation']:
    for country in ["argentina", "uruguay", "guatemala", "costarica", "nicaragua", "panama", "colombia"]:
    # for country in ["uruguay"]:
        external_data = ExternalData('202503',country, report_type)
        df = external_data.get_external_data()
        df.to_csv(f"./data/{external_data.country_name_mapping[country]}_{report_type.capitalize()}_{fecha}.csv", index=False)

ARGENTINA
URUGUAY
GUATEMALA
COSTA RICA
NICARAGUA
PANAMA
Cali
Girardot
Villavicencio
Valledupar
Medellin
Bogota Norte
Ibague
Neiva
Cartagena
Santa Marta
Corozal
Bogota Sur
Cucuta
Bucaramanga
Barranquilla
Barrancabermeja
Duitama
Pereira
Yopal
Monteria
San Andres
San Gil
Aguachica
Tunja
Argentina

In [2]:
import requests
import pandas as pd
from io import BytesIO

month_short = 'mar'
url_excel = f'https://www.dane.gov.co/files/operaciones/IPC/{month_short}2025/anex-IPC-CiudadesMensuales-{month_short}2025.xlsx'
df_inflation_colombia_mensual = pd.read_excel(url_excel, header=None)
df_inflation_colombia_mensual = df_inflation_colombia_mensual.loc[df_inflation_colombia_mensual[(df_inflation_colombia_mensual[0] == ' Variaciones mensuales 2025')].index[0] + 1:]
df_inflation_colombia_mensual = df_inflation_colombia_mensual.loc[:df_inflation_colombia_mensual[(df_inflation_colombia_mensual[0] == 'Otras áreas urbanas')].index[0] -1]
df_inflation_colombia_mensual.columns = df_inflation_colombia_mensual.iloc[0]
df_inflation_colombia_mensual = df_inflation_colombia_mensual[2:]
df_inflation_colombia_mensual = df_inflation_colombia_mensual.rename(columns={'Mes':'Distribuidora'})
month_long = [m for m in df_inflation_colombia_mensual.columns if month_short in m[:3].lower()]
col_select =  ['Distribuidora'] + month_long + ['Año corrido']
df_inflation_colombia_mensual = df_inflation_colombia_mensual[col_select]
df_inflation_colombia_mensual = df_inflation_colombia_mensual.rename(columns={month_long[0]:'Variacion_Mensual_PCT',
                                                                              'Año corrido':'Variacion_YTD_PCT'})
df_inflation_colombia_mensual

226  Distribuidora Variacion_Mensual_PCT Variacion_YTD_PCT
228       Medellín                  0.78              2.47
229   Barranquilla                  0.85              3.11
230    Bogotá D.C.                  0.29              2.72
231      Cartagena                  0.51               2.4
232          Tunja                  0.73              2.98
233      Manizales                  0.49              2.66
234      Florencia                  0.61              2.25
235        Popayán                  0.65              3.03
236     Valledupar                  0.39              1.71
237       Montería                  0.61              1.96
238          Neiva                  0.73              1.76
239       Riohacha                  0.66              2.07
240    Santa Marta                  0.94              2.97
241  Villavicencio                  0.57              2.61
242          Pasto                  0.57              2.22
243         Cúcuta                  0.69              2.18
244        Armenia                  0.47               2.5
245        Pereira                  0.51              2.69
246    Bucaramanga                  0.72              3.56
247      Sincelejo                  0.56              1.81
248         Ibague                  0.57              2.53
249           Cali                  0.68              2.38

In [3]:
import requests
import pandas as pd
from io import BytesIO

url_excel = f'https://www.dane.gov.co/files/operaciones/IPC/{month_short}2025/anex-IPC-CiudadesAnuales-{month_short}2025.xlsx'
df_inflation_colombia_anual = pd.read_excel(url_excel, header=None)
df_inflation_colombia_anual = df_inflation_colombia_anual.loc[df_inflation_colombia_anual[(df_inflation_colombia_anual[1] == 'Ciudad')].index[0]:]
df_inflation_colombia_anual = df_inflation_colombia_anual.loc[:df_inflation_colombia_anual[(df_inflation_colombia_anual[1] == 'Otras áreas urbanas')].index[0] -1]
df_inflation_colombia_anual.columns = df_inflation_colombia_anual.iloc[0]
df_inflation_colombia_anual = df_inflation_colombia_anual[1:]
df_inflation_colombia_anual = df_inflation_colombia_anual.rename(columns={'Ciudad':'Distribuidora'})
month_long = [m for m in df_inflation_colombia_anual.columns if month_short in m[:3].lower()]
col_select =  ['Distribuidora'] + month_long
df_inflation_colombia_anual = df_inflation_colombia_anual[col_select]
df_inflation_colombia_anual

7   Distribuidora Marzo
8        Medellín  4.95
9    Barranquilla  4.13
10    Bogotá D.C.  5.51
11      Cartagena  4.77
12          Tunja  3.85
13      Manizales  4.63
14      Florencia   4.7
15        Popayán  5.29
16     Valledupar  3.71
17       Monteria  4.33
18          Neiva  4.14
19       Riohacha  2.96
20    Santa Marta  1.63
21  Villavicencio  5.33
22          Pasto  4.45
23         Cúcuta  4.83
24        Armenia  5.38
25        Pereira  6.09
26    Bucaramanga  7.01
27      Sincelejo  4.76
28         Ibagué   5.2
29           Cali   4.4

In [ ]:
df_inflation_colombia

202502,Medellin,149.84,4.96,1.68,0.62

Periodo,Distribuidora,IPC,Variacion_Anual_PCT,Variacion_YTD_PCT,Variacion_Mensual_PCT

226,Distribuidora,Enero,Febrero,Marzo,Abril,Mayo,Junio,Julio,Agosto,Septiembre,Octubre,Noviembre,Diciembre,Año corrido
228,Medellín,1.05,0.62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.68
229,Barranquilla,0.93,1.29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.23
230,Bogotá D.C.,0.89,1.53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.43
231,Cartagena,0.95,0.92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.88
232,Tunja,1.08,1.14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.23
233,Manizales,1,1.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.16
234,Florencia,0.67,0.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.63
235,Popayán,0.9,1.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.37
236,Valledupar,0.44,0.87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.32
237,Montería,0.51,0.83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.34
238,Neiva,0.14,0.88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.02
239,Riohacha,0.48,0.92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.4
240,Santa Marta,1.36,0.64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.01
241,Villavicencio,0.87,1.14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.02
242,Pasto,0.96,0.68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.64
243,Cúcuta,0.79,0.68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.48
244,Armenia,1.01,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.02
245,Pereira,0.83,1.33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.17
246,Bucaramanga,1.76,1.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.82
247,Sincelejo,0.5,0.74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.24
248,Ibague,0.96,0.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.95
249,Cali,0.82,0.86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.69

In [59]:
df_inflation_colombia[df_inflation_colombia[(df_inflation_colombia[0] == ' Variaciones mensuales 2025')].index[0]: df_inflation_colombia[(df_inflation_colombia[0] == ' Otras áreas urbanas')].index[0]	]

IndexError: index 0 is out of bounds for axis 0 with size 0

In [ ]:
from datetime import datetime

list_columns_month = ['Mes','Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre']
list_columns_month_1 = list_columns_month[1:]
# Obtener la fecha y hora actual
fecha_actual = datetime.now()

# Obtener el año actual
año_actual = fecha_actual.year

# Obtener el mes actual en letras
mes_actual = fecha_actual.month-1
mes_anterior = fecha_actual.month-2
nombre_mes_anterior = list_columns_month_1[mes_anterior]
nombre_mes_actual = list_columns_month_1[mes_actual]
ruta_actual = nombre_mes_actual[:3].lower()+str(año_actual)
ruta_anterior = nombre_mes_anterior[:3].lower()+str([año_actual-1 if mes_actual == 0 else año_actual][0])

# try:
url_ipc = f'https://www.dane.gov.co/files/operaciones/IPC/anex-IPC-{ruta_actual}.xlsx'
url_ipc_last = f'https://www.dane.gov.co/files/operaciones/IPC/anex-IPC-{ruta_anterior}.xlsx'
url_excel    = f'https://www.dane.gov.co/files/operaciones/IPC/{month_short}2025/anex-IPC-CiudadesAnuales-{month_short}2025.xlsx'

#     if requests.get(url_ipc).status_code == 200:
#         df_ipc_temp = pd.read_excel(url_ipc)
#         print(url_ipc)
#     else: 
#         if requests.get(url_ipc_last).status_code == 200:
#             df_ipc_temp = pd.read_excel(url_ipc_last)
#             print(url_ipc_last)
#         else: 
#             print(url_ipc_last)
#             raise RuntimeError(f'Failed to connect {url_ipc_last}')
# except Exception as inst:
#     print(type(inst))    # the exception type

# df_ipc_temp = df_ipc_temp[df_ipc_temp['Unnamed: 0'].isin(list_columns_month)]
# df_ipc_temp.columns = [str(x).replace(".0","") for x in list(df_ipc_temp.iloc[0])]
# df_ipc_temp = df_ipc_temp[1:].set_index('Mes')

# ipc_temp = df_ipc_temp.copy()
# for year in list(ipc_temp.columns[1:]):
#     ipc_temp[year] = (df_ipc_temp[year]/ df_ipc_temp[str(int(year)-1)]) -1
# ipc_temp = ipc_temp[list(ipc_temp.columns[1:])]

# ipc = pd.DataFrame()
# for year in list(ipc_temp.columns):
#     for num, month in enumerate(list(ipc_temp.index)):
#         ipc_itr = pd.DataFrame()
#         ipc_itr['año_mes'] = [datetime(int(year),num+1,1).strftime('%Y-%m')]
#         ipc_itr['ipc'] = [ipc_temp[year][ipc_temp[year].index == month].iloc[0]]
#         ipc = pd.concat([ipc, ipc_itr], axis= 0)
# ipc = ipc[~(ipc['ipc'].isnull())]

In [ ]:
https://suameca.banrep.gov.co/estadisticas-economicas/reporte-oac.html?path=%2FEstadisticas_Banco_de_la_Republica%2F1_Precios_e_Inflacion%2F2_Indice_de_precios_al_consumidor%2F2_IPC_base_2018%2F1_IPC_2018_por_ciudad#

In [ ]:
https://www.dane.gov.co/files/operaciones/IPC/feb2025/anex-IPC-CiudadesMensuales-feb2025.xlsx

'https://www.dane.gov.co/files/operaciones/IPC/anex-IPC-abr2025.xlsx'

In [ ]:

req_headers = {
    'accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8',
    'accept-encoding': 'gzip, deflate, br',
    'accept-language': 'en-US,en;q=0.8',
    'upgrade-insecure-requests': '1',
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/61.0.3163.100 Safari/537.36'
    }

url_inflation_co = f"https://suameca.banrep.gov.co/estadisticas-economicas/reporte-oac.html?path=%2FEstadisticas_Banco_de_la_Republica%2F1_Precios_e_Inflacion%2F2_Indice_de_precios_al_consumidor%2F2_IPC_base_2018%2F1_IPC_2018_por_ciudad#"

r1 = requests.get(url_inflation_co, headers = req_headers, verify=False)
r1 = BeautifulSoup(r1.content, 'html')
divs = r1.find_all("div")
divs# = r1.findAll('td')

In [11]:
r1

<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">

<html dir="ltr">
<head>
<meta charset="utf-8" content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
<title>Reportes OAC</title>
<script src="js/jquery-3.7.1.min.js" type="application/javascript"></script>
<script src="js/estadisticas-economicas.js" type="application/javascript"></script>
<link href="//d1b4gd4m8561gs.cloudfront.net/sites/default/files/favicon.ico" rel="icon" type="image/vnd.microsoft.icon"/>
<body>
<script type="text/javascript">
		crearImportJsOracle();
	</script>
<div class="reporte-oac-cie" id="reporte-oac-cie"></div>
<script>
		generaTokenOracle();
		setReporte();
	</script>
</body>
</head></html>

In [15]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager
import time
import pandas as pd
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

# Configurar Chrome en modo headless (sin GUI)
chrome_options = Options()
chrome_options.add_argument("--headless")  # Importante para Databricks
chrome_options.add_argument("--no-sandbox")
chrome_options.add_argument("--disable-dev-shm-usage")
chrome_options.add_argument("--disable-gpu")

# Iniciar el navegador
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()), options=chrome_options)

# Ir a la URL
url = "https://suameca.banrep.gov.co/estadisticas-economicas/reporte-oac.html?path=%2FEstadisticas_Banco_de_la_Republica%2F1_Precios_e_Inflacion%2F2_Indice_de_precios_al_consumidor%2F2_IPC_base_2018%2F1_IPC_2018_por_ciudad"
driver.get(url)

# Esperar que cargue el iframe y la tabla (ajusta el tiempo según conexión)
time.sleep(30)

# Buscar el iframe (si existe)
iframes = driver.find_elements(By.TAG_NAME, "iframe")
print(f"Encontrados {len(iframes)} iframes")

# # Opcional: interactuar con el iframe
# # driver.switch_to.frame(iframes[0])  # Si hay uno solo

# # Aquí deberías inspeccionar el HTML para saber qué tabla quieres scrapear
# # Ejemplo genérico: encontrar filas de una tabla
# rows = driver.find_elements(By.CSS_SELECTOR, "table tbody tr")

# # Parsear las filas
# data = []
# for row in rows:
#     cols = row.find_elements(By.TAG_NAME, "td")
#     data.append([col.text for col in cols])

# # Convertir a DataFrame
# df = pd.DataFrame(data)
# print(df.head())

# # Cerrar el navegador
# driver.quit()

Encontrados 1 iframes

In [132]:

# Ir a la URL
url = "https://suameca.banrep.gov.co/estadisticas-economicas/reporte-oac.html?path=%2FEstadisticas_Banco_de_la_Republica%2F1_Precios_e_Inflacion%2F2_Indice_de_precios_al_consumidor%2F2_IPC_base_2018%2F1_IPC_2018_por_ciudad"
driver.get(url)

# Esperar que cargue el iframe y la tabla (ajusta el tiempo según conexión)
time.sleep(120)

try:
    wait = WebDriverWait(driver, 120)

    table = wait.until(
        EC.presence_of_element_located((By.ID, "view!1pane-contentpane_8-contentTable"))
    )

    # Usamos BeautifulSoup para procesar mejor el contenido
    soup = BeautifulSoup(driver.page_source, "html.parser")
    table = soup.find("table", id="view!1pane-contentpane_8-contentTable")

except Exception as e:
    print("❌ Error al encontrar la tabla:", e)


# Encuentra todas las celdas que contienen las fechas (headers de fila)
fechas = table.find_all("div", class_="oj-datagrid-row-header-cell")

# Extrae el texto de cada una
fechas_lista = [f.text.strip() for f in fechas]

# Buscar todos los encabezados de columna
header_cells = soup.select(".oj-datagrid-column-header-cell")

# Extraer nombres de ciudades y subcolumnas
column_headers = []
current_city = None
for cell in header_cells:
    text = cell.get_text(strip=True)
    if text and text not in ["Índice", "Variación anual (%)", "Variación mensual (%)", "Variación año corrido (%)"]:
        current_city = text
    elif current_city:
        column_headers.append((current_city, text))

# Buscar todas las filas del cuerpo
body_rows = soup.select(".oj-datagrid-cell")

# Calcular número de columnas por fila
columns_per_row = len(column_headers)
num_rows = len(body_rows) // columns_per_row

# Inicializar estructura de salida
data_by_city = {}
for city, subcol in column_headers:
    if city not in data_by_city:
        data_by_city[city] = {
            "Índice": [],
            "Variación anual (%)": [],
            "Variación mensual (%)": [],
            "Variación año corrido (%)": []
        }

# Llenar estructura
for i in range(num_rows):
    for j, (city, subcol) in enumerate(column_headers):
        idx = i * columns_per_row + j
        value = body_rows[idx].get_text(strip=True)
        data_by_city[city][subcol].append(value)

# Ponerlo en Dataframe
df_data_by_city = pd.DataFrame(data_by_city).transpose()

df_final = pd.DataFrame()
for city in df_data_by_city.index.unique():
    df_temp = pd.DataFrame(fechas_lista, columns=['Fecha'])
    df_temp['Ciudad'] = city
    for col in df_data_by_city.columns:
        i_v = df_data_by_city[col].loc[city]
        df_temp[col] = [i_v if len(i_v) != 0 else 0][0]
    df_final = pd.concat([df_final, df_temp], axis  = 0)

In [133]:
df_final

,Fecha,Ciudad,Índice,Variación anual (%),Variación mensual (%),Variación año corrido (%)
0,March 2025,Armenia,153.86,5.38,0.47,2.50
1,February 2025,Armenia,153.13,5.25,1.00,2.02
2,January 2025,Armenia,151.61,5.47,1.01,1.01
3,December 2024,Armenia,150.10,5.50,0.47,5.50
4,November 2024,Armenia,149.40,5.22,0.53,5.01
...,...,...,...,...,...,...
21,June 2023,Cúcuta,142.59,13.47,0,0
22,May 2023,Cúcuta,142.50,14.76,0,0
23,April 2023,Cúcuta,142.19,15.37,0,0
24,March 2023,Cúcuta,140.62,15.38,0,0
25,February 2023,Cúcuta,139.66,16.12,0,0

In [29]:
external_data = ExternalData('202503','argentina')
df_inflation = external_data.inflation()
df_inflation

   YEAR  WEEK  INFLATION
0  2025     9        2.4
0  2025    10        2.4
0  2025    11        2.4
0  2025    12        2.4
0  2025    13        2.4

In [ ]:
external_data = ExternalData('202502','argentina')
df_temperature_final = external_data.temperature()
df_temperature_final

In [ ]:
external_data = ExternalData('202502','argentina')
df_covid_final = external_data.covid()
df_covid_final